
<h1> Room </h1>
<p>This is a demo of chatroom page</p>
<p>
  The room you are visiting is {{roomId}}
</p>
<p  id="link_1" >To generate a new room, here is the room id:</p>
<ul id="list-template">
    {{#each rooms}}
         <li> <a href={{this.id}}> {{this.name}}  </a></li>
    {{/each}}
</ul>

<form action="/createMessage" method="POST">
  <input type="text" name="roomName" placeholder="enter name" />
  <input type="text" name="message" placeholder="enter message" />
  <input type="hidden" id = "myRoomObjId" name="foo" value="bar" />
  <input type="submit" value="create room" />
</form>

<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<script>
    
  window.addEventListener('load', function () {
  setInterval(async function(){
   var link1 = "http://stackoveflow.com/"; 
   let myRoomId = "{{roomId}}"
   let rooms = {{{json rooms}}}
   let myRoomName = "";
   let myRoomObjId = "";
   for (let i =0 ;i< rooms.length;i++){
       if (rooms[i].id === myRoomId){
           myRoomObjId = rooms[i]._id
           myRoomName = rooms[i].name
       }
   }
   document.getElementById("myRoomObjId").innerHTML =myRoomObjId;
   document.getElementById("link_1").innerHTML =myRoomName;
   //document.getElementById("link_1").innerHTML = rooms[0].id;
    //"628a952ecb872044a181f00d"

   fetch('http://localhost:3000/roomMessage?' + new URLSearchParams({ 
      roomID:myRoomObjId, 
   
   }))
   .then(response => response.json())
                
   .then(data => {
                    var roomsJson = data;
                    console.log(roomsJson);
                    var html = "";
                    var ul_element = document.getElementById('list-template');
                    
                    document.getElementById('list-template').innerHTML=" "

                    for(var j = 0; j < roomsJson.length; ++j) {
                        var li = document.createElement('li');
                        const para = document.createElement("p");
                        para.innerHTML = roomsJson[j].message;
                        var a = document.createElement('a');
                        a.setAttribute('href', roomsJson[j].message)
                        li.appendChild(para);
                        document.getElementById('list-template').appendChild(li)
                        a.innerHTML = a.innerHTML + roomsJson[j].message
                    }

                })
                .catch(err => {
                    console.log("ERROR" + err)
                });

   

   }, 5000);
  });

</script>